.projects-container{
    margin-top: 10px;
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.slider{
    background-color: #5f9ea0;
    max-width: 800px;
    height: 500px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
}

.slider img{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 4px;
}

.slider h3{
    color: #fff;
    font-size: 36px;
    margin: 10px;
    position: relative;
    text-align: center;
}

.slider-one{
    background-color: #eb4d4b;
}

.slider-two{
    background-color: #5cb85c;
}

.slider-three{
    background-color: #CF8F2E;
}

.slider-four{
    background-color: #303030;
}

.project-button{
    background-color: #fff;
    outline: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 3px;
    border: 0px;
    padding: 3px 7px;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .projects-container{
        width: 80%;
    }
    
    .slider{
        max-height: 250px;
    }
}