.skill-container{
    margin-top: 10px;
    text-align: center;
    max-width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, 33%);
    grid-template-areas:
        "title title" 
        "tech other"
        "tech tool";
    justify-items: center;
    margin: 50px;
    box-sizing: border-box;
}

.skill-container h3{
    font-size: 28px;
}

.skills-title{
    grid-area: title;
    max-width: 100%;
}

.tech-skills{
    grid-area: tech;
    max-width: 100%;
    justify-self: center;
}


.tech-skills-flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}

.tool-skills{
    text-align: center;
    grid-area: tool;
    max-width: 100%;
}

.tool-skills-flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.other-skills{
    grid-area: other;
    text-align: left;
    font-size: 18px;
}

.other-skills h3{
    text-align: center;
}

.skill-text{
    font-size: 21px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.skill-square{
    min-width: 145px;
    max-height: 145px;
    background-color: rgba(48, 48, 48, 0.5);
    color: #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 7px 7px;
    text-align: center;
    padding: 15px 5px;
    flex: 3;
}

.skill-square h3{
    font-size: 21px;
}

@media screen and (max-width: 400px) {
    .skill-container{
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 25%);
        grid-template-areas:
            "title" 
            "tech"
            "tool"
            "other";
        justify-items: center;
        margin: 10px;
    }

    .skill-square{
        width: 70px;
        min-height: 70px;
        padding: 10px 5px 5px 5px;
    }

    .fa-5x {
        font-size: 3.5em;
    }

    .tech-skills-flexbox{
        padding: 17px;
    }

    .tool-skills-flexbox{
        padding: 17px;
    }

    .skill-container h3{
        margin: 20px 0 0 0;
    }
}