.about-container{
    text-align: center;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "title table";
    justify-items: center;
}

.about-container img{
    max-width: 250px;
    padding-top: 10px;
    border-radius: 3px;
}

.about-title{
    font-size: 21px;
    text-align: justify;
    line-height: 28px;
    box-sizing: border-box;
    padding: 10px 200px;
    grid-area: title;
}

.about-title h2{
    text-align: center;
    font-size: 26px;
}

.about-table table {
    border-collapse: collapse;
    min-width: 280px;
    grid-area: table;
    font-size: 21px;
    background-color: rgba(48,48,48, 0.2);
    color: #000;
    border-radius: 3px;
}

th, td {
    padding: 15px;
}

.about-table table tr{
    box-sizing: border-box;
    padding: 10px 10px;
    margin: 20px;
}

@media screen and (max-width: 1500px) {
    .about-container{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
            "title"
            "table";
        justify-items: center;
    }

    .about-title{
        padding: 20px 40px;
    }

}

@media screen and (max-width: 400px) {
    .about-container{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
            "title"
            "table";
        justify-items: center;
    }

    .about-title{
        padding: 10px 20px;
    }

}