.modal{
    position: fixed;
    z-index: 500;
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #303030;
    border-radius: 5px;
    padding: 16px;
    top:20%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    display: grid;
    grid-auto-columns: 50% 50%;
    grid-auto-rows: 33% 33% 33%;
    grid-template-areas: 
        "title title"
        "paragraph image"
        "tools buttons";
    justify-items: center;
}

.modal a:nth-child(1){
    margin-right: 10px;
}

@media (min-width: 600px){
    .modal{
        width: 1000px;
        left: calc(50% - 500px);
    }
}

.modal-title{
    grid-area: title;
}

.modal p{
    grid-area: paragraph;
}

.modal img{
    grid-area: image;
    max-width: 100%;
}

.modal-button-container{
    grid-area: buttons;
    justify-self: end;
    align-self: center;
    margin-right: 40px;
}

.modal-tools{
    grid-area: tools;
}

.modal-button{
    background-color: #fca326;
    color: #fff;
    outline: none;
    font-size: 21px;
    font-weight: 700;
    border-radius: 3px;
    border: 0px;
    padding: 3px 7px;
    cursor: pointer;
    text-decoration: none;
}


@media screen and (max-width: 400px) {
    .modal{
        padding: 0px 5px;
        width: 90%;
        top: 1%;
        left: 5%;
        grid-auto-columns: 100%;
        grid-auto-rows: repeat(5, 20%);
        grid-template-areas: 
            "title"
            "image"
            "paragraph"
            "buttons"
            "tools";
        justify-items: center;
    }

    .modal img{
        margin-top: 10px;
        max-width: 100%;
    }

    .modal p{
        font-size: 16px;
    }

}
