.contact-container{
    margin-top: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        "paragraph contact";
    justify-items: center;
}

.contact-container a{
    text-decoration: none;
}

.contact-container a:visited{
    color: #303030;
}

.contact-text-container{
    grid-area: paragraph;
    
}

p{
    text-align: justify;
    box-sizing: border-box;
    padding: 0px 5%;
    font-size: 21px;
    line-height: 28px;
}

.contact-icons{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100%;
    grid-area: contact;
    margin: 0 auto;
    justify-self: center;
}

.contact-icons div{
    background-color: transparent;
    font-size: 21px;
     width: 80%;
     min-height: 80px;
     line-height: 100px;
     text-align: center;
     background-color:rgba(255, 255, 255, 0.2);
     border-radius: 5px;
     box-sizing: border-box;
     padding: 3px 10px;
     margin: 10px 5px;

}

.contact-icons div:nth-child(1){
    font-family: "Lucida Console", "monospace";
}

.contact-icons div i{
    color: #303030;
    float: left;
    line-height: 100px;
}

.contact-icons li:hover{
    background-color: transparent;
}

@media screen and (max-width: 400px) {
    .contact-container{
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
            "paragraph"
            "contact";
        justify-items: center;
    }

    .contact-icons div{
        font-size: 15px;
        width: 90%;
        min-height: 50px;
        line-height: 50px;
    }

    .contact-icons div i{
        line-height: 50px;
    }
}