.content-container{
    margin-left: 130px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 60%;
    grid-template-areas: 
        "title nav"
        "content content";
    justify-items: center;
}

.top-headers h1{
    font-size: 56px;
    width: 100%;
    -webkit-animation: animatedText 0.75s;
    margin: 30px 0 18px 0;
    
}

.top-headers h2{
    font-size: 28px;
    display: inline;
    box-sizing: border-box;
    padding: 3px 10px;
    background-color: rgba(48, 48, 48, 0.1);
    -webkit-animation: animatedText 1s;
}

.top-headers{
    grid-area: title;
}

section{
    -webkit-animation: sectionDrawer 1.5s;
    width: 100%;
    grid-area: content;
}

.panel{
    width: 100%;
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    grid-area: nav;
    margin-top: 100px;
    padding: 0;
    
}

.panel a{
    display: block;
    flex: 3;
    font-size: 18px;
    background-color: rgba(48, 48, 48, 0.15);
    border-radius: 3px;
    box-sizing: border-box;
    padding: 5px 5px;
    margin: 0 10px;
    cursor: pointer;
    max-height: 50px;
    line-height: 40px;
}

.panel a{
    text-decoration: none;
    color: #303030;
    display: block;
}

.panel a:hover{
    background-color: rgba(48, 48, 48, 0.05);
}

.content{
    box-sizing: border-box;
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

@keyframes animatedText{
    0%{
        margin-top: 200px;
        opacity: 0.01;
    }
    100%{
        margin-top: 31px;
    }
}

@keyframes sectionDrawer{
    0%{
        margin-top: 200px;
        opacity: 0.01;
    }
    100%{
        margin-top: initial;
    }
}

@media screen and (max-width: 1500px) {
    .content-container{
        margin-left: 0;
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 33%;
        grid-template-areas: 
            "title"
            "nav"
            "content";
        justify-items: center;
        text-align: center;
    }

    .panel{
        width: 60%;
    }

    .content{
        margin-top: 30px;
    }
}

@media screen and (max-width: 400px) {

    .top-headers h1{
        font-size: 38px;
        width: 100%;
        -webkit-animation: animatedText 0.75s;
        margin: 30px 0 18px 0;
    }

    .top-headers h2{
        font-size: 24px;
        display: inline;
        box-sizing: border-box;
        padding: 3px 10px;
        -webkit-animation: animatedText 1s;
    }

    .panel{
        width: 100%;
        margin-top: 30px;
    }

    .panel a{
        font-size: 16px;
        max-height: 40px;
        line-height: 30px;
    }

    .content{
        box-sizing: border-box;
        margin: 10px 0;
        grid-area: content;
        width: 100%;
    }

    .panel a:nth-child(1){
        line-height: 16px;
    }


}