aside{
    height: 100vh;
    width: 130px;
    background-color: #303030;
    -webkit-animation: sideDrawer 1s ease-out; 
    z-index: 100;
    position: absolute;
}

aside ul{
    list-style: none;
    width: 100%;
    height: 300px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 80px 0;
}

aside ul li{
    text-align: center;
    width: 100%;
}

ul li a i{
    color: #ddd;
    cursor: pointer;
}

.fa-gitlab:hover{
    color: #fca326;
}

.fa-linkedin-in:hover{
    color: #0077b5;
}

.fa-facebook-f:hover{
    color: #3b5998;
}

.fa-envelope:hover{
    color: #dd4b39;
}


.personal-photo{
    background-image: url(../../assets/profile.jpg);
    min-height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 15px auto 15px auto;
}

@keyframes sideDrawer{
    0%{
        margin-left: -200px;
    }
    100%{

    }
}

@keyframes responsiveSideDrawer{
    0%{
        margin-top: -200px;
    }
    100%{

    }
}



@media screen and (max-width: 1500px) {
    aside{
        height: 100px;
        width: 100%;
        background-color: #303030;
        -webkit-animation: responsiveSideDrawer 1s ease-out; 
        z-index: initial;
        position: sticky;
        display: flex;
        
    }

    aside ul{
        height: 100px;
        flex-direction: row;
        margin: 0;
        line-height: 120px;
        justify-content: center;
    }

    aside ul li{
        text-align: center;
        width: 10%;
    }

    .personal-photo{
        background-image: url(../../assets/profile.jpg);
        max-height: 40px;
        min-width: 40px;
        border-radius: 45px;
        margin: 7px 40px;
    }
}

@media screen and (max-width: 400px) {
    
    .personal-photo{
        background-image: url(../../assets/profile.jpg);
        max-width: 70px;
        min-height: 70px;
        border-radius: 50%;
        padding: 5px;
    }

    aside ul{
        justify-content: flex-end;
    }

    aside ul li{
        text-align: center;
        width: 40%;
        line-height: 110px;
    }

    .fa-3x{
        font-size: 2em;
    }
}