body, html{
  margin: 0;
  background-color:#fbd546;
  color: #303030;
  font-family: 'Raleway', sans-serif;
}

::selection {
  background: rgba(247, 223, 30, 0.2);
}
::-moz-selection {
  background: rgba(247, 223, 30, 0.2);
}